<div class="row">
	<div class="col s6">
	<div class="row">
	<div class="col s6 profile">
		  <% if @current.avatar.url != nil %>
	      	<%= image_tag @current.avatar.url %>
	      <% else %>
	      	<%= image_tag "profile-holder" %>
	      <% end %>
	</div>
	<div class="col s6">
		<p><strong>Name:</strong> <%= @current.name %></p>
		<p><strong>Species:</strong> <%= @current.species %></p>
		<p><strong>Breed:</strong> <%= @current.breed %></p>
		<p><strong>Sex:</strong> <%= @current.sex %></p>
		<p><strong>Age:</strong> <%= @current.age %></p>
		<a class="waves-effect waves-light btn" href="/update/pet/<%= @current.id %>">Edit Pet Profile</a>
	</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="row">
		<% if @record.fixed %>
			<div class="col s6">
			<h5>Medical History</h5>
			<p><strong>Spade/Nutered:</strong> <%= @record.fixed %></p>
			<p><strong>Behavior:</strong> <%= @record.behavior %></p>
			<p><strong>Allergies:</strong> <%= @record.allergy %></p>
			</div>
			<div class="col s6">
				<h5>PDF Documents</h5>
				<a href="">Rabies Certificate</a><br />
				<a href="">County Records</a><br />
				<a href="">Picture with Santa</a><br />
			</div>
		<% else %>
				<h5 class="error">No Record can be found.</h5>
				<h5 class="error">Please visit a vet to create record.</h5>
				<a class="waves-effect waves-light btn" href="/pages/finder">Find Vet</a>
		<% end %>
			</div>
			<div class="clear"></div>
			<div class="row">
			<h5>Vacciantions</h5>
			<table>
				<thead>
		          <tr>
		              <th>Shot</th>
		              <th>Given</th>
		              <th>Expiration</th>
		          </tr>
		        </thead>
			<% @shots.each do |shot| %>
	          <tr>
	            <td><%= shot.vaccine %> </td>
	            <td><%= shot.start %> </td>
	            <td><%= shot.expiration %></td>
	          </tr>
			<% end %>
			</table>
			</div>
		</div>
	</div>
	</div>
	<div class="col s6 scroll">
		<h3>Doctor's Notes History</h3>
		<% @comments.each do |comment| %>
			<p><strong>Dr.<%= comment.first_name %> <%= comment.last_name %></strong> - <%= comment.created_at.strftime("%b %d, %Y") %></p>
			<p><%= comment.note %><p>
			<hr />
		<% end %>
	</div>
</div>