<div>
	<h5>Name: <%= @current.name %></h5>
	<h5>Species: <%= @current.species %></h5>
	<h5>Breed: <%= @current.breed %></h5>
	<h5>Sex: <%= @current.sex %></h5>
	<h5>Age: <%= @current.age %></h5>

</div>