<div id="profile-pic" class="modal">
    <div class="modal-content2">
	    <h4>Edit Profile Picture</h4>
	    <div class="row">
	    <div class="col s2">
			<% if @user.avatar_file_name != nil %>
		    	<%= image_tag current_user.avatar.url %>
		    <% else %>
		    	<%= image_tag "profile-holder" %>
		    <% end %>
		</div>
			 
		</div>
		<div class="col s8">
			<div class="row">
			<p>Profile Picture:</p>
				<form action="/users/profilePic/<%= current_user.id %>" method="post" enctype="multipart/form-data">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="_method" value="patch">
					<input id="user_pic" type="file" name="avatar">
					<input class=" modal-action waves-effect waves-green btn-flat" type="submit" value="Update">
				</form>
			</div>
		</div>
	</div>
    <div class="modal-footer">
  		<a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>
<div class="row">
	<div class="col s3 profile">
		<a class="new-pic" href="#profile-pic">
		<%= image_tag current_user.avatar.url %></a>
	</div>
	<div class="col s9">
		<h3>Welcome <%= @user.first_name %> <%= @user.last_name %></h3>
		<p><%= @user.street %></p>
		<p><%= @user.city %>, <%= @user.state %></p>
		<p>My Doctor is: <a href="/vets/public/3">Dr. Turtles</a></p>
		<a class="waves-effect waves-light btn" href="/new/pet">Edit Your Profile</a>
		<a class="waves-effect waves-light btn" href="/new/pet">Add New Pet</a>
	</div>
</div>
<div class='clear'></div>
<div class="row">
	<% @pets.each do |pet| %>
	<div class="col s3">
	  <div class="card">
	    <div class="card-image waves-effect waves-block waves-light">
	      <% if pet.avatar_file_name != nil %>
	      	<%= image_tag pet.avatar.url %>
	      <% else %>
	      	<%= image_tag "profile-holder" %>
	      <% end %>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4"><%= pet.name %><i class="material-icons right">...</i></span>
	      <p><a href="/pets/profile/<%= pet.id %>">Pet Profile</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4"><%= pet.name %><i class="material-icons right">X</i></span>
	      <p><%= pet.name %>'s Profile</p>
	      <ul>
	      	<li>PIN #: <%= pet.pin %></li>
	      	<li>Species: <%= pet.species %></li>
	      	<li>Breed: <%= pet.breed %></li>
	      	<li>Sex: <%= pet.sex %></li>
	      	<li>Color: <%= pet.color %></li>
	      	<li>Age: <%= pet.age %> years</li>
	      	<li><a href="/update/pet/<%= pet.id %>">Edit Pet Profile</a></li>
	      </ul>
	    </div>
	  </div>
  </div>
  <% end %>
</div>