<!-- ==================== Begin User Profile Pic Modal===================== -->

<div id="profile-pic" class="modal">
    <div class="modal-content2">
	    <h4>Edit Profile Picture</h4>
	    <div class="row">
	    <div class="col s2">
	      <% if @user.avatar_file_name != nil %>
	      	<%= image_tag current_user.avatar.url %>
	      <% else %>
	      	<%= image_tag "profile-holder" %>
	      <% end %>
		</div>
			 
		</div>
		<div class="col s8">
			<div class="row">
			<p>Profile Picture:</p>
				<form action="/users/profilePic/<%= current_user.id %>" method="post" enctype="multipart/form-data">
				  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				  <input type="hidden" name="_method" value="patch">
				  <div class="file-field input-field">
				    <div class="btn">
				      <span>File</span>
				      <input type="file" name="avatar">
				    </div>
				    <div class="file-path-wrapper">
				      <input class="file-path validate" type="text">
				    </div>
				    <div class="col s6 offset-s1">
				      <input class="waves-effect waves-light btn" type="submit" value="Update">
				    </div>	
				  </div>
				</form>
			</div>
		</div>
	</div>
    <div class="modal-footer">
  		<a class="waves-effect waves-light btn red">Cancel</a>
    </div>
</div>

<!-- ==================== Begin Page ===================== -->

<div class="row">
	<div class="col s3 profile">
		<a class="new-pic" href="#profile-pic">
		  <% if @user.avatar_file_name != nil %>
	      	<%= image_tag current_user.avatar.url %>
	      <% else %>
	      	<%= image_tag "profile-holder" %>
	      <% end %>
	    </a>
	</div>
	<div class="col s9">
		<h3>Welcome <%= @user.first_name %> <%= @user.last_name %></h3>
		<p><%= @user.street %></p>
		<p><%= @user.city %>, <%= @user.state %>, <%= @user.zip%></p>
		<% if @a != nil %>
			<p>My Doctor is: <a href="/vets/public/<%= @a.VETS_ID %>"><%= @a.VETS_FN %> <%= @a.VETS_LN %></a></p>
		<% end %>
		<a class="waves-effect waves-light btn" href="/update/user/<%= current_user.id %>">Edit Your Profile</a>
		<a class="waves-effect waves-light btn" href="/new/pet">Add New Pet</a>
	</div>
</div>

<div class='clear'></div>

<div class="row">
	<% @pets.each do |pet| %>
	<div class="col s3">
	  <div class="card">
	    <a href="/pets/profile/<%= pet.id %>">
		    <div class="card-image waves-effect waves-block waves-light">
		      <% if pet.avatar_file_name %>
		      	<%= image_tag pet.avatar.url %>
		      <% else %>
		      	<%= image_tag "profile-holder" %>
		      <% end %>
		    </div>
		</a>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4"><%= pet.name %><i class="material-icons right">...</i></span>
	      <p><a href="/pets/profile/<%= pet.id %>">Pet Profile</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4"><%= pet.name %><i class="material-icons right">X</i></span>
	      <p><%= pet.name %>'s Profile</p>
	      <ul>
	      	<li>PIN #: <%= pet.pin %></li>
	      	<li>Species: <%= pet.species %></li>
	      	<li>Breed: <%= pet.breed %></li>
	      	<li>Gender: <%= pet.sex %></li>
	      	<li>Color: <%= pet.color %></li>
	      	<li>Age: <%= pet.age %> years</li>
	      	<li><a href="/update/pet/<%= pet.id %>">Edit Pet Profile</a></li>
	      </ul>
	    </div>
	  </div>
  </div>
  <% end %>
</div>