<div id="profile-pic" class="modal">
    <div class="modal-content2">
	    <h4>Edit Profile Picture</h4>
	    <div class="row">
	    <div class="col s2">
	      <% if @vet.avatar_file_name != nil %>
	      	<%= image_tag current_user.avatar.url %>
	      <% else %>
	      	<%= image_tag "profile-holder" %>
	      <% end %>
		</div>
			 
		</div>
		<div class="col s8">
			<div class="row">
			<p>Profile Picture:</p>
				<form action="/vets/profilePic/<%= current_user.id %>" method="post" enctype="multipart/form-data">
				  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				  <input type="hidden" name="_method" value="patch">
				  <div class="file-field input-field">
				    <div class="btn">
				      <span>File</span>
				      <input type="file" name="avatar">
				    </div>
				    <div class="file-path-wrapper">
				      <input class="file-path validate" type="text">
				    </div>
				    <div class="col s6 offset-s1">
				      <input class="waves-effect waves-light btn" type="submit" value="Update">
				    </div>	
				  </div>
				</form>
			</div>
		</div>
	</div>
    <div class="modal-footer">
  		<a class="waves-effect waves-light btn red modal-close" href=""> Cancel</a>
    </div>
</div>

<div class="row">
	<div class="col s3 profile">
		<a class="new-pic" href="#profile-pic">
		  <% if @vet.avatar_file_name != nil %>
	      	<%= image_tag current_user.avatar.url %>
	      <% else %>
	      	<%= image_tag "profile-holder" %>
	      <% end %>
	    </a>
	    <a class="waves-effect waves-light btn center" href="/update/vet/<%= current_user.id %>">Update Profile</a>
	</div>

	<div class="col s9">
		<h4><strong>Welcome: </strong> <span><i><small>Dr. <%= @vet.first_name %> <%= @vet.last_name %></i></small></span></h4>
		<h4><strong>Office:</strong> <span><i><small><%= @vet.office_name %></small></i></span></h4>
		<h4><strong>Number:</strong> <span><i><small><%= @vet.phone_number %></small></i></span></h4>
		<h4 class="vet_add_head"><strong>Address:</strong></h4>
		<div class="vet_address">
			<h5><i><%= @vet.street %></i></h5>
			<h5><i><%= @vet.city %>, <%= @vet.state %>, <%= @vet.zip %></i></h5>
		</div>
	</div>
</div>
<div class="clear"></div>
<div class="row">
	<h3>My Clients</h3>
	<div class="col s10">
      <table>
        <thead>
          <tr>
              <th data-field="id">Client</th>
              <th data-field="name">Address</th>
              <th data-field="name">Phone Number</th>
              <th data-field="price">Email</th>
              <th data-field="price">Pets</th>
          </tr>
        </thead>

        <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.first_name %> <%= client.last_name %></td>
            <td><%= client.street %> <%= client.city%>, <%= client.state %> <%= client.zip %></td>
            <td><%= client.phone_number %></td>
            <td><%= client.email %></td>
            <td><a class='dropdown-button btn' data-activates="pet<%= client.id %>">Pets Link</a>
	            <ul id='pet<%= client.id %>' class='dropdown-content'>
	            	<% @pets.reject{ |p| p.owner != client.id }.each do |pet|%>
				      <li><a href="/pets/admin/<%= pet.id %>"><%= pet.name %></a></li>
				    <% end %>
				</ul>
			</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
  
