<div class="row">
	<div class="col s3 profile">
		<a href="/update/user/">
		<%= image_tag "profile-holder" %></a>
	</div>

	<div class="col s9">
		<h3>Welcome Dr. <%= @vet.first_name %> <%= @vet.last_name %></h3>
		<h4>Office: <%= @vet.office_name %></h4>
		<h4>Phone: <%= @vet.phone_number %></h4>
		<h4>Address:</h4>
		<div class="col s11 offset-s1">
		<h5><%= @vet.street %></h5>
		<h5><%= @vet.city %>, <%= @vet.state %> <%= @vet.zip %></h5>
		</div>
		<a class="waves-effect waves-light btn" href="/update/vet/<%= current_user.id %> ">Update Your Profile</a>
	</div>
</div>
<div class="clear"></div>
<div class="row">
	<h3>My Clients</h3>
	<div class="col s10">
      <table>
        <thead>
          <tr>
              <th data-field="id">Client</th>
              <th data-field="name">Address</th>
              <th data-field="name">Phone Number</th>
              <th data-field="price">Email</th>
              <th data-field="price">Pets</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin Smith</td>
            <td>1123 Street Ave Town, ST 91234</td>
            <td>900-555-1234</td>
            <td>name@email.com</td>
            <td><a class='dropdown-button btn' href="" data-activates="pet1">Pets</a>
	            <ul id='pet1' class='dropdown-content'>
				    <li><a href="#!">one</a></li>
				    <li><a href="#!">two</a></li>
			    	<li><a href="#!">three</a></li>
				</ul>
			</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
  
