<div class="row">
	<div class="col s3 profile">
		<a href="/update/user/">
		<%= image_tag "profile-holder" %></a>
	</div>

	<div class="col s9">
		<h3>Welcome Dr. <%= @vet.first_name %> <%= @vet.last_name %></h3>
		<h3>Here are your clients</h3>

		<table>
			<tr>
				<td>Name</td>
				<td>Address</td>
				<td>Pets</td>
			</tr>
			<% @clients.each do |c| %>
				<td><%= c.first_name + " " + c.last_name %></td>
				<td><%= c.street %>" "<%= c.city %>" "<%=  c.state %>" "<%=  c.zip %></td>
				<% end %>
				<% @pet.each do |p| %>
					<div class="card-reveal">
					
				      	<span class="card-title grey-text text-darken-4"><i class="material-icons right">X</i></span>

					
				      	<!-- list of all the clients pets -->
				      	<p>Owner: <%=  p.first_name %> <%=  p.last_name %></p> 

				      	<!-- links to the pet's profile -->
				      	<p>Pet: <a href=""><%= p.name %></a></p>
				      	<p>Species: <%=  p.species %></p> 
						
				    </div>
				</td>
			<% end %>
		</table>

		<a href="/update/vet/<%= current_user.id %> ">Update Your Profile</a>
	</div>
</div>

