<h1>Dr. <%= @vet.first_name %> <%= @vet.last_name %></h1>
<h3>Office: <%= @vet.office_name %></h3>
<h3>Email: <%= @vet.email %></h3>
<h3>Phone: </h3>
<h3>Address:</h3>
<h5><%= @vet.street %></h5>
<h5><%= @vet.city %>, <%= @vet.state %> <%= @vet.zip %> </h5>
