
<div class="row">
<div class="col s4">
<h3>Find a Vet</h3>
</div>
<div class="col s2 cat">
<%=  image_tag "cat-photo1" %>
</div>
</div>
<div id="map"></div>
<script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 12
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesnt support geolocation.');
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNauAHEexAsyMuiVvx74Vj0q9WkP9ZsIA&callback=initMap">
    </script>
<h4>Veterinary Locations</h4>
<table>
	<tr>
		<td>Name</td>
		<td>Office</td>
		<td>Address</td>		
	</tr>
	<% @vets.each do |v| %>
	<tr>
		<td><a href="/vets/public/<%= v.vet_id %>"> <%= v.first_name %> <%= v.last_name %></a></td>
		<td><%= v.office_name %></td>
		<td><%= v.street %>, <%= v.city %>, <%= v.state %>, <%= v.zip %></td>
		<% if current_user %>
			<% if current_user && @a != nil %>
				<% if v.vet_id != @a.vets_id %>
					<td><a class="btn waves-light" href="/users/change/<%= v.vet_id %>">Join</a></td>
				<% end %>		
			<% else current_user && @a == nil %>
				<td><a class="btn waves-light" href="/users/change/<%= v.vet_id %>">Join</a></td>
			<% end %>
		<% end %>
	</tr>
	<% end %>
</table>
<% @users.each do |p| %>
<p><%= p.first_name %> <%= p.last_name %> <%= p.email %></p>
<% end %>
	



