<h3>Find a Vet</h3>
<iframe
  width="100%"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBYOR2ycjxUavAw_SbROFRl2wnUuaWeldo
    &q=Coding+Dojo,Burbank+CA" allowfullscreen>
</iframe>
<h4>Veterinary Locations</h4>
<table>
	<tr>
		<td>Name</td>
		<td>Office</td>
		<td>Address</td>		
	</tr>
	<% @vets.each do |v| %>
	<tr>
		<td><%= v.first_name %> <%= v.last_name %></td>
		<td><%= v.office_name %></td>
		<td><%= v.street %>, <%= v.city %>, <%= v.state %>, <%= v.zip %></td>
		<% if current_user && @a != nil %>
			<% if v.VET_ID != @a.VETS_ID %>
				<td><a class="btn waves-light" href="/users/change/<%= v.VET_ID %>">Join</a></td>
			<% end %>		
		<% else current_user && @a == nil %>
			<td><a class="btn waves-light" href="/users/change/<%= v.VET_ID %>">Join</a></td>
		<% end %>
	</tr>
	<% end %>
</table>

	



