</div>
  <div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag "Wallpaper_New2" %> <!-- random image -->
        <div class="caption center-align">
          <div class="slider_box-right">
			     <h2>Thank You!</h2>
			     <p>Thank you to all those who have supported PetMed. As our company grows the site will be unavailable for a period of time while we work to improve over all functionality and feel of the product. The site will remain up with previews to the Pet Parent profile and Veterinarian dashboard. We hope to re-launch in 2018 with a better product to provide to the PetMed community.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
       	<div class="col s12">
      		<h2>Breaking free from paperwork!</h2>
      		<p>With Pet Med online medical profile database you can have all your pets records in the palm of your hand. Access all your records no matter where you are at and never be stuck with the run around or hauling stacks of papers to your vets office again. With Pet Med your vet will have access to your pets records so you can get back to enjoying your pet.</p>
       	</div>
      </div>
      <div class="clear"></div>
      <div class="row">
        <div class="col s6">
    			<h5>Find a Vet near you!</h5>
          <div class="row">
            <div class="col s7">
              <ul>
                <li>Read Reviews</li>
                <li>Find Specialists</li>
                <li>Look up by city or zip</li>
                <li>Find hopsitals</li>
              </ul>
            </div>
            <div class="col s4">
              <a class="waves-effect waves-light btn-large" href="/pages/finder">Find</a>
            </div>
          </div>
        </div>
        <div class="col s6">
    			<h5>Pet Med Cares</h5>
          <p>We are committed to making sure that pets are cared for no matter what. We volunteer our time at local shelters making sure that homeless pets will find thier forever home. With our Veterinarian outreach program we work along side vet offices to make sure our product is the best it can be for our customers.</p> 
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="howTo">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1>How PetMed can help!</h1>
        <div class="row">
          <div class="col s4">
            <h5>Register</h5>
            <%= image_tag "UserReg" %>
          </div>
          <div class="col s4">
            <h5>Add Pets</h5>
            <%= image_tag "UserProfile" %>
          </div>
          <div class="col s4">
            <h5>Pick Your Vet</h5>
            <%= image_tag "FindVet" %>
          </div>
        </div>
        <div class="clear"></div>
        <div class="row">
          <div class="col s4">
            <h5>View Vet Profile</h5>
            <%= image_tag "DoctorProfile" %>
          </div>
          <div class="col s4">
            <h5>Get Records</h5>
            <%= image_tag "PetProfile" %>
          </div>
          <div class="col s4">
            <h5>Register as Vet</h5>
            <%= image_tag "VetReg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row">
    
  </div>