<!DOCTYPE html>
<html>
<head>
  <title>PetMed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">User Reg</a></li>
  <li><a href="#!">Vet Reg</a></li>
</ul>
<nav>
	<div class="nav-wrapper blue darken-4">
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="">Home</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Find Vet</a></li>
			<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
			<li>
			<% if current_user %>
			  <form action='/sessions/logout' method='post'>
			    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			    <input type='hidden' name='_method' value='delete'>
			    <input class="waves-effect waves-light btn small-btn" type='submit' value='Log Out'>
			  </form>
			 <% else %>
				<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
			<% end %>
			</li>
		</ul>
	</div>
</nav>
	<div class="container">
	<% if flash[:error] %>
	   <p><%= flash[:error] %>
    <% end %>
		<%= yield %>
	</div>
</body>
</html>
